body {
    font-family: Arial;
}

.container {
    display: flex;
    gap: 10px;
}


.card {
    width: 25%;
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.card1 img{
     
    width: 200px;
    height: 300px;
     transition-duration: 2s;
     
 
}
.card1 img:hover{
     transform: rotate(45deg);
}
.card2 img{
     
    width: 200px;
    height: 300px;
     transition-duration: 2s;
      
 
}

.card2 img:hover{
    transform: scale(1.1);
}
.card3 img{
     
    width: 200px;
    height: 300px;
    
     transition-duration: 2s;
   
 
}
.card3 img:hover{
    transform: skew(30deg ,30deg);
}
.card4 img{
     
    width: 200px;
    height: 300px;
   
     transition-duration: 2s;
    
 
}
.card4 img:hover{
    transform: translateY(-100px);
}
.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 18px;
}

.cart{
    width: 100px;
    padding: 10px;
    background-color: rgb(244, 244, 4);
    border: 1px solid gray;
    
}
.buy{
    width: 100px;
    padding: 10px;
    background-color: rgb(255, 165, 0); 
    border: 1px solid gray;
}
